<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{HH:mm:ss.SSS} |-%highlight(%level) in [%logger{10}:%line] - %msg%n</pattern>
        </layout>
    </appender>

    <!-- Корневой логгер -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!-- Логгер нашего класса  -->
    <logger name="logging.logback.LoggingLogback" level="info">
        <appender-ref ref="sout"/>
    </logger>
</configuration>